# DEFAULT: "Europe/Berlin"
DEFAULT_TIME_ZONE="Europe/Berlin"

# Public port for HTTP connections.
# DEFAULT: 80
WEB_HTTP_PORT=8080

# disables the on-by-default HTTPS mode of OpenProject so you can access the instance over HTTP-only. 
# For all production systems we strongly advise not to set this to false, and instead set up a proper TLS/SSL termination on your outer web server.
# DEFAULT: false
OPENPROJECT_HTTPS=false

# sets the secret key base for Rails
# DEFAULT dac9630aec642a428cd73f4be0a03569
OPENPROJECT_SECRET_KEY_BASE=dac9630aec642a428cd73f4be0a03569

# OpenProject Docker Image version
# DEFAULT: 17
OPENPROJECT_V="17"

##################
# Docker settings
##################

# Prefix used by docker compose for each of the containers, e.g. app will be `openproject`
# DEFAULT: openproject
COMPOSE_PROJECT_NAME=openproject

# List of docker compose files
# DEFAULT: docker-compose.yml:docker-compose.override.local.yml
#COMPOSE_FILE=docker-compose.yaml
COMPOSE_FILE=docker-compose.yaml

# Separator in `COMPOSE_FILE` between filenames. Required for making COMPOSE_FILE above cross-platform (do not change)
# DEFAULT: :
COMPOSE_PATH_SEPARATOR=: