# DEFAULT: "Europe/Berlin"
DEFAULT_TIME_ZONE="Europe/Berlin"

# Public port for HTTP connections.
# DEFAULT: 80
WEB_HTTP_PORT=8080

# Public port for HTTPS connections.
# DEFAULT: 443
WEB_HTTPS_PORT=443

# sets the secret key base for Rails
# DEFAULT dac9630aec642a428cd73f4be0a03569
OPENPROJECT_SECRET_KEY_BASE=dac9630aec642a428cd73f4be0a03569


##################
# Docker settings
##################

# Prefix used by docker compose for each of the containers, e.g. app will be `openproject`
# DEFAULT: openproject
COMPOSE_PROJECT_NAME=openproject

# List of docker compose files
# DEFAULT: docker-compose.yml:docker-compose.override.local.yml
#COMPOSE_FILE=docker-compose.yaml
COMPOSE_FILE=docker-compose.yaml

# Separator in `COMPOSE_FILE` between filenames. Required for making COMPOSE_FILE above cross-platform (do not change)
# DEFAULT: :
COMPOSE_PATH_SEPARATOR=: